.f-container {
  display: flex;
  flex-direction: row;

  color: var(--selectionText);
}

.f-container:hover {
  color: var(--selectionText);
  background-color: var(--selectionBackGround);
}

Icon {
  flex-grow: 1;
}

.name {
  flex-grow: 1;
}
